# Ayushi Saxena
## Ayushi Saxena
### Ayushi Saxena
#### Ayushi Saxena

*Revision* of **Python**

- Interpreted
- Dynamic
- high level

$x^2 + y^2 = z^2$

In [1]:
print("Hello World!")

Hello World!

# Brief Introduction to Python
This is the notebook for understanding the basic syntax of Python

## Datatypes

- Int
- float
- boolean
- str
- complex

In [2]:
my_var = 8

In [3]:
type(my_var)

int

In [4]:
my_var2 = 8.69
type(my_var2)

float

In [5]:
float(my_var)

8.0

In [6]:
a = 0
bool(a)

False

In [7]:
a = 10
bool(a)

True

In [8]:
b = True
str(b)

'True'

In [9]:
message = "hello world"
? message.capitalize

In [10]:
message.capitalize()

'Hello world'

In [11]:
? message.upper

In [12]:
message.upper()

'HELLO WORLD'

In [13]:
5 + 15

20

In [14]:
a = 9.7

int(a)

9

In [15]:
5 + 7.8

12.8

In [16]:
6 + True

7

In [17]:
6 + "Hello"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
"Hello" + "World"

In [ ]:
5 // 2

In [ ]:
5 / 2

In [ ]:
5 * 2

In [ ]:
5 ** 2

In [ ]:
print(True * "Hello")
print(False * "World")

In [ ]:
5.0 == 5

In [ ]:
5 < 6 or 6 < 5

## Advanced Datatypes / Data Strnuctures

### List

- Collection
- Created using [ ] 
- Multiple datatypes
- Mutable

In [ ]:
a = [1, 5, 3, 9.6, True]

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
c = "Hello"
type(c)

In [ ]:
meeting = [['Sudhi', 35, True], ['Muthu', 34, False], ['XYZ', 89, True]]
len(meeting)

In [ ]:
a = [1, 2, 3, 4, [1, 2, 3]]
a

In [ ]:
a[4][1]

In [ ]:
a[4][-1]

In [ ]:
a[-1]

In [ ]:
print(type(a))

Start:End
0:4 --> 0, 1, 2, 3

In [ ]:
?list

In [ ]:
a = [20, 5, 3, 4, 1, 4, 2, 9, 8, 1, 0, 4]

In [ ]:
?a.append

In [ ]:
a.append(73276)

In [ ]:
a

In [ ]:
a.insert(1,2048)
a

In [ ]:
a.sort()
a

In [ ]:
? a.count

In [ ]:
a.count(1)

In [ ]:
a.count(2048)

In [ ]:
type(a[0])

### Tuple

- Collection 
- Created using ( ) or just comma separated values
- Mixed data types
- Immutable

In [ ]:
b = (1, 2, 3)
b1 = 1,2,3
print(type(b))
print(type(b1))

In [ ]:
b = 1, 2, 5.7, False, "hello"
type(b)

In [ ]:
b[2] = "Hi"      # tuples are immutable

### Dictionaries

- Collection
- Created using { } 
- Key and value pairs separated with : and elements separated with commas 
- Values are mutable, keys are immutable

In [ ]:
c = {'a':56, 'c':True, 'f':3.5}
type(c)

In [ ]:
c['a']

In [ ]:
c['a'] = 45
c

In [ ]:
c.keys()

In [ ]:
c.values()

In [ ]:
?c.pop

In [ ]:
vd = {10:{'A':333, 'B':232, 'C':63}, 
     20:{'A':"DSf", 'B':'swer', 'C':'xcmd'}}

In [ ]:
type(vd)

In [ ]:
len(vd)

In [ ]:
vd[10]['C']

### Sets

- Collection
- { }
- values separated by commas
- Not subscriptable

In [ ]:
e = {"Orange", 'Banana', 'Apple'}

In [ ]:
type(e)

In [ ]:
fruit1 = {"Orange", 'Banana', 'Apple', 'Orange'}
fruit2 = {'Watermelon', 'Banana', 'Apple', 'Banana'}

In [ ]:
fruit1 - fruit2

In [ ]:
fruit1.intersection(fruit2)

In [ ]:
fruit1.add("Guava")

In [ ]:
fruit1.union(fruit2)

In [ ]:
'Apple' in fruit1

## List comprehension

In [ ]:
[x*x for x in a]